---
import "../styles/global.css";
import "../styles/fonts.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="bg-stone-100">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Es una organización sin ánimo de lucro dedicada a promover y desarrollar la tecnología blockchain y DLT en la región. Nuestra misión es fomentar la adopción a través de diversas iniciativas y actividades."
    />
    <meta
      name="keywords"
      content="blockchain, DLT, web3, asociacion, castilla la mancha, españa, crypto, bitcoin"
    />
    <meta name="author" content="Asociación Blockchain CLM" />
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.clmblockchain.org">
    <meta property="og:title" content="Asociación Blockchain CLM">
    <meta property="og:description" content="Es una organización sin ánimo de lucro dedicada a promover y desarrollar la tecnología blockchain y DLT en la región.">
    <meta property="og:image" content="/images/social_img.webp">
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">
    <link rel="canonical" href="https://www.clmblockchain.org">
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/webp" href="/favicon.webp" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
    <script src="../scripts/main.ts"></script>
  </body>
</html>
